<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base::common_head(~{::title},~{})">
    <title>首页</title>
</head>
<body>
<div th:replace="~{base::navbar}"></div>
<div class="container-fluid all">
    <div class="sidebar">
        <ul class="nav" th:include="base::sidebar(~{::li})">
        </ul>
    </div>
    <div class="maincontent row">
        <ul class="breadcrumb">
            <li class="active">首页</li>
        </ul>
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>spring-boot搭建的zookeeper管理后台</h1>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{base::script}"></div>
</body>
</html>