<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base::common_head(~{::title},~{})">
    <title th:text="#{users.head.title}">Title</title>
</head>
<body>
<div th:replace="~{base::navbar}"></div>
<div class="container-fluid all">
    <div th:replace="~{base::sidebar}"></div>
    <div class="maincontent row">
        <ul class="breadcrumb">
            <li class="active" th:text="#{users.head.title}"></li>
        </ul>
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>这是一套开源的基于bootstrap的简易框架</h1>
                <p>所用插件和库几乎都属于开源（个别特殊的会做说明），且功能正在不间断更新中</p>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{base::script}"></div>
</body>
</html>