<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base::common_head(~{::title},~{})">
    <title th:text="#{users.head.title}">Title</title>
</head>
<body>
<div th:replace="~{base::navbar}"></div>
<div class="container-fluid all">
    <div class="sidebar">
        <ul class="nav" th:include="base::sidebar(~{::li})">
        </ul>
    </div>
    <div class="maincontent row">
        <ul class="breadcrumb">
            <li class="active" th:text="#{users.head.title}"></li>
        </ul>
        <div class="col-sm-12">
            <div class="jumbotron">
                <button type="button" class="btn btn-primary">添加用户</button>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users.content}">
                    <th th:text="${user.id}"></th>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.del}"></td>
                    <td th:text="${user.createTime}"></td>
                    <td th:text="${user.updateTime}"></td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm">编辑</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger btn-sm">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="~{base::script}"></div>
</body>
</html>