.form-sign-in {
    max-width: 300px;
    padding: 10px;
    margin: 30px auto auto;
}

html, body {
    background: #f9f9f9;
    -ms-overflow-style: scrollbar; /*ie-scrollbar*/
}

@media (max-width: 768px) {
    html, body {
        overflow-x: hidden; /* Prevent scroll on narrow devices */
    }
}

#goTop {
    padding: 5px 15px;
    border-radius: 8px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    background-color: #aaa;
    color: #fff;
    text-align: center;
    -moz-transition: background 0.5s linear;
    -webkit-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
    z-index: 99;
}

#goTop:hover {
    background: #808080;
}

.all {
    margin-top: 50px;
    margin-left: 220px;
    z-index: 20;
    padding-left: 0;
    padding-right: 0;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 50px;
    width: 220px;
    padding: 0;
    background-color: #f1f1f1;
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    border-top: 1px solid #f3f3f3;
}

.sidebar li a {
    color: #6d7983;
}

.sidebar li .caret {
    margin-top: 9px;
}

.sidebar li i {
    margin-right: 15px;
}

.sidebar .nav-header {
    padding: 10px;
    background-color: #f5f5f5;
}

.sidebar .nav > li[class*=active] > a {
    background-color: #aba7b1;
    color: #fff;
}

.sidebar .nav > li > a {
    padding: 13px 15px;
    border-bottom: 1px solid #e5e5e5;
}

.sidebar .sub-menu {
    display: none;
}

.sidebar .sub-menu li:hover {
    background-color: #f5f5f5;
}

.sidebar .sub-menu li a {
    padding: 15px 30px;
    text-decoration: none;
    display: block;
    background-color: #fff;
}

.sidebar .sub-menu li[class*=active] > a {
    color: #aba7b1 !important;
}

.maincontent {
    /*width: 100%;*/
    height: 100%;
    margin: 0 auto;
    min-width: 320px !important;
    overflow: hidden;
}

.maincontent .breadcrumb {
    padding: 14px 15px;
}

/*fa字体库样式纠正，注意写法，中间是没有间隔的*/
.fa.pull-right {
    line-height: inherit;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #337ab7;
    position: fixed;
    z-index: 2000;
    top: 46px;
    right: 100%;
    width: 100%;
    height: 5px;
}
