<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{head.title}">Title</title>
    <link type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <form class="form-signin" th:action="@{/sign_in}" th:object="${user}" method="post">
        <h2 class="form-signin-heading" th:text="#{login.head}">Please sign in</h2>
        <div class="form-group">
            <label for="inputEmail" class="sr-only" th:text="#{login.label.email}">Email address</label>
            <input type="email" id="inputEmail" class="form-control" name="user.username" th:value="*{username}" th:placeholder="#{login.label.email}" />
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only" th:text="#{login.label.password}">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="user.password" th:value="*{password}" th:placeholder="#{login.label.password}">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.button}">Sign in</button>
    </form>
</div>
</body>
</html>