<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" th:href="@{/static/image/favicon.ico}" />
    <title th:text="#{login.head.title}">Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/admin.css}">
</head>
<body>
<div class="container">
    <form class="form-sign-in" th:action="@{/sign_in}" method="post">
        <h2 th:text="#{login.h2.head}">Please sign in</h2>
        <div class="form-group">
            <label for="input_email" class="sr-only" th:text="#{login.label.email}">Email address</label>
            <input type="email" id="input_email" class="form-control" name="email" value="zhubenle@foxmail.com" th:placeholder="#{login.label.email}">
        </div>
        <div class="form-group">
            <label for="input_password" class="sr-only" th:text="#{login.label.password}">Password</label>
            <input type="password" id="input_password" class="form-control" name="password" th:placeholder="#{login.label.password}">
        </div>
        <button class="btn btn-primary btn-block" type="submit" th:text="#{login.button}">Sign in</button>
    </form>
</div>
</body>
</html>